h3 {
    color: #fff;
    display: block;
    filter: dropshadow(color=#000,offx=1,offy=1);
}
.infobox {
    margin-left: 0;
}
#headerLogo {
    margin-top: 6px;
}
#headerLogo img {
    height: 48px;
    width: 280px;
}
