
h3 {
    color: #fff;
    display: block;
    text-shadow: none;
    filter: dropshadow(color=#000000, offx=1, offy=2),alpha(opacity=40);
    /*filter:progid:DXImageTransform.Microsoft.Glow(Color=black,Strength=1), alpha(opacity=40);*/
}

.item img {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */   
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */      
    zoom: 1;

}

.infobox {
    margin-left: 0;
}
#headerLogo {
    margin-top: 6px;
}
#headerLogo img {
    height: 48px;
    width: 280px;
}
