
h3 {
    color: #fff;
    display: block;
    text-shadow: none;
    filter: dropshadow(color=#000000, offx=1, offy=2),alpha(opacity=40);
    /*filter:progid:DXImageTransform.Microsoft.Glow(Color=black,Strength=1), alpha(opacity=40);*/
}

.msie #intro-initial {
    background-image: url('../images/swing2.jpg');
}
.msie #intro-ready {
    background-image: url('../images/swing1.jpg');
}
.msie #intro-set {
    background-image: url('../images/swing3.jpg');
}
.msie #intro-swing {
    background-image: url('../images/swing4.jpg');
}

.infobox {
    margin-left: 0;
}
#headerLogo {
    margin-top: 6px;
}
#headerLogo img {
    height: 48px;
    width: 280px;
}
