html,body,div,span,p,a,del,em,img,ol,ul,li,fieldset,form,label {
    border: 0;
    font-family: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
html {
    font-size: 62.5%;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}
html,body {
    font-family: "myriad-pro",sans-serif;
    line-height: 1;
    min-height: 100%;
}
body {
    background-color: #000;
}
body.noscroll {
    overflow-y: scroll;
    position: fixed;
    width: 100%;
}
.centered {
    height: 100%;
    left: 50%;
    margin-left: -50%;
    text-align: center;
    width: 100%;
}
ol,ul {
    font-family: "myriad-pro",sans-serif;
    list-style: none;
}
p {
    color: #fff;
    font-family: "myriad-pro",sans-serif;
    font-size: 20px;
    font-size: 2rem;
    line-height: 1.1em;
    margin: 1em 0;
}
q {
    color: #333;
    font-family: "myriad-pro",sans-serif;
    font-style: italic;
}
h1 {
    color: #fff;
    font-family: 'Archer SSm A','Archer SSm B',Georgia,serif;
    font-size: 60px;
    font-size: 6rem;
    font-weight: 700;
    margin: 0;
    white-space: nowrap;
}
h1:first-child {
    margin-top: 0;
}
h2 {
    color: #fff;
    font-family: 'Archer SSm A','Archer SSm B',Georgia,serif;
    font-size: 40px;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 2em 0 1em;
}
h2:first-child {
    margin-top: 0;
}
h3 {
    -moz-text-shadow: 1px 1px 4px #000;
    -webkit-text-shadow: 1px 1px 4px #000;
    color: #fff;
    display: block;
    font-family: 'Archer SSm A','Archer SSm B',Georgia,serif;
    font-size: 25px;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.3em;
    margin: 1em 0;
    text-shadow: 1px 1px 4px #000;
}
h3:first-child {
    margin-top: 0;
}

h4 {
    color: #fff;
    font-family: 'Archer SSm A','Archer SSm B',Georgia,serif;
    font-size: 20px;
    font-size: 2rem;
    font-weight: 600;
    margin: 1em 0;
}
#scrollbar {
    background: #444;
    background: rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 3px;
    height: 50px;
    position: fixed;
    right: 2px;
    width: 6px;
    z-index: 300;
}
.skrollr-desktop #scrollbar {
    display: none;
}
#header {
    background-color: #bb0826;
    background-image: url(../images/bannerBG.png);
    background-repeat: repeat-x;
    color: #fff;
    height: 60px;
    min-width: 800px;
    width: 100%;
    z-index: 9999;
}
#navLeft {
    float: left;
    margin-top: 18px;
    min-width: 250px;
    width: 28%;
}
#navLeft > span {
    display: inline-block;
    font-family: 'Archer SSm A','Archer SSm B',Georgia,serif;
    font-size: 11px;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0 4%;
    padding-top: 6px;
}
#navLeft > span.active {
    filter: alpha(opacity=100);
    font-weight: 700;
    opacity: 1;
}
#navLeft img {
    border: 0;
    border-style: hidden;
    height: auto;
    padding-left: 15px;
    padding-right: 10px;
    vertical-align: middle;
    width: 18px;
}
#navRight {
    float: right;
    margin-top: 18px;
    text-align: right;
}
#navRight span {
    display: inline-block;
    font-family: 'Archer SSm A','Archer SSm B',Georgia,serif;
    font-size: 11px;
    font-size: 1.1rem;
    padding: 0;
    padding-right: 15px;
}
#navRight img {
    border: 0;
    border-style: hidden;
    height: auto;
    padding-right: 15px;
    vertical-align: middle;
    width: 25px;
}
.headerIcons {
    filter: alpha(opacity=60);
    opacity: .6;
}
.headerIcons:hover {
    cursor: pointer;
    cursor: hand;
    filter: alpha(opacity=100);
    opacity: 1;
}
#headerLogo {
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 380px;
    min-width: 150px;
    vertical-align: middle;
    width: 30%;
}
#headerLogo img {
    height: auto;
    width: 100%;
}
#proamLogo {
    height: 100%;
    text-align: center;
    width: 100%;
}
#proamLogo img {
    height: auto;
    max-width: 100%;
    width: 100%;
}
.fittext {
    width: 100%;
}
/* All intro boxes */
#intro,#intro-initial,#intro-ready,#intro-set,#intro-swing {
    -moz-box-sizing: border-box;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-box-sizing: border-box;
    -webkit-transform-origin: 0 0;
    background: url('../images/bkgd-intro.jpg') no-repeat center;
    background-size: 100%;
    background-size: cover;
    box-sizing: border-box;
    text-align: center;
    transform-origin: 0 0;
}
#intro {
    height: 100%;
    left: 50%;
    margin-left: -50%;
    width: 100%;
}
#intro-initial {
    background-image: url('../images/swing2.png');
}
#intro-ready {
    background-image: url('../images/swing1.png');
}
#intro-set {
    background-image: url('../images/swing3.png');
}
#intro-swing {
    background-image: url('../images/swing4.png');
}
#holes {
    font-size: 150%;
    margin-left: 0;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-top: 5px;
    text-align: left;
    width: 3740px;
}
.holePreview {
    background-color: #000;
    float: left;
    height: 298px;
    margin-right: 3px;
    overflow: none;
    width: 200px;
}
#holes img {
    cursor: pointer;
    cursor: hand;
    filter: alpha(opacity=100);
    float: left;
    height: 298px;
    opacity: 1;
    width: 200px;
}
.holePreview:hover {
    background-color: #007337;
    filter: alpha(opacity=100);
    opacity: 1;
}
#ready,#set,#swing,#true,#close {
    -moz-background-size: cover;
    -moz-box-sizing: border-box;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-background-size: cover;
    -o-transform-origin: 0 0;
    -webkit-background-size: cover;
    -webkit-box-sizing: border-box;
    -webkit-transform-origin: 0 0;
    background-size: 100%;
    background-size: cover;
    box-sizing: border-box;
    height: 100%;
    left: 50%;
    margin-left: -50%;
    padding-left: 30px;
    padding-top: 10%;
    transform-origin: 0 0;
    width: 100%;
}
#ready {
    background: url(../images/bkgd-ready.jpg) no-repeat center;
}
#set {
    background: url(../images/bkgd-set.jpg) no-repeat center;
}
#swing {
    background: url(../images/bkgd-swing.jpg) no-repeat top;
}
#true {
    background: url(../images/bkgd-true.jpg) no-repeat bottom;
}
#close {
    background: url(../images/bkgd-true.jpg) no-repeat bottom;
}
#ready h2,#set h2,#swing h2,#true h2,#close h2 {
    display: block;
    font-weight: 400;
    white-space: nowrap;
    width: 100%;
}
#ready h3,#set h3,#swing h3,#true h3,#close h3 {
    font-weight: 400;
    max-width: 1200px;
    min-width: 600px;
    width: 80%;
}
#ready p,#set p,#swing p,#true p,#close p {
    font-weight: 400;
    max-width: 1200px;
    min-width: 600px;
    width: 80%;
}
.infobox {
    background-color: #000;
    color: #fff;
    margin-left: -15px;
    max-width: 1400px;
    min-width: 650px;
    padding: 15px 15px 50px;
    width: 80%;
}
.ie8 .infobox {
    background-color: red;
    margin-left: 100px;
}
.infobox h4 {
    font-size: 15px;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.3em;
    margin-top: 0;
}
#infoText {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.4em;
}
.infobox a {
    color: #fcc60a;
    font-size: 1em;
}
.infobox a:hover {
    text-decoration: none;
}
#easing_wrapper {
    height: 100%;
    width: 100%;
}
#easing {
    top: 10%;
    width: 50%;
    z-index: 101;
}
.drop {
    background: #09f;
    font-weight: 700;
    padding: 1em;
}
#download {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0 solid #222;
    box-sizing: border-box;
    height: 80%;
    left: 10%;
    padding: 3em;
    width: 80%;
}
#bg {
    height: 200%;
    left: -50%;
    position: fixed;
    top: -50%;
    width: 200%;
}
#bg img {
    bottom: 0;
    left: 0;
    margin: auto;
    min-height: 50%;
    min-width: 50%;
    position: absolute;
    right: 0;
    top: 0;
}
#closeShade {
    background-color: #000;
    height: 100%;
    left: 0;
    overflow: auto;
    position: absolute;
    top: 0;
    width: 100%;
}
#footer {
    background-color: #000;
    color: #fff;
    font-family: "myriad-pro",sans-serif;
    font-size: 11px;
    font-size: 1.1rem;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding-left: 30px;
    width: 100%;
    z-index: 9999;
}
.twitter-share-button,.twitter-follow-button {
    vertical-align: middle;
}
@media (min-width: 1200px) {
    .infobox h4 {
        font-size: 20px;
        font-size: 2em;
        font-weight: 700;
        line-height: 2.2em;
        margin-top: 0;
    }
    #infoText {
        font-size: 17px;
        font-size: 1.7rem;
        line-height: 1.3em;
    }
}

.preloader {
    background-color: white;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 200;
}
.preloader img {
    margin: auto; position: absolute; top: 0; right: 0; bottom: 0; left: 0;
    top: -99px; /* nudge loader above the "SCROLL DOWN" splash info */
}

