html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 20px;
	vertical-align: baseline;
	font-family: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html, body {
	line-height: 1;
	min-height:100%;
	font-family:Artial, Verdana, sans-serif;
}

body {
	background-color: #000;
}
body.noscroll
{
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}

ol, ul {
	list-style: none;
}

p {
	margin:1em 0;
	line-height:1.1em;
	color:#fff;
}

q {
	font-style:italic;
	color:#333;
}

h1 {
	font-size:2.91em;
	margin:0;
	color:#fff;
	font-family: 'Archer SSm A', 'Archer SSm B', Georgia, serif;
	font-weight: 700;
}

h1 > small {
	text-align:right;
	display:inline-block;
	font-size:.71em;
	text-indent:15em;
	color:#444;
}

h2 {
	color:#fff;
	font-size:1.91em;
	margin:2em 0 1em 0;
	font-family: 'Archer SSm A', 'Archer SSm B', Georgia, serif;
	font-weight: 700;
}

h2:first-child {margin-top:0;}

h3 {
	color:#fff;
	font-size:1.41em;
	margin:1em 0;
}

h4 {
	color:#fff;
	font-size:1.11em;
	margin:1em 0;
}

.centered {
	width:100%;
	height:100%;
	left:50%;
	margin-left:-50%;
	text-align:center;
}


#scrollbar {
	position:fixed;
	right:2px;
	height:50px;
	width:6px;
	background:#444;
	background:rgba(0,0,0,0.6);
	border:1px solid rgba(255,255,255,0.6);
	z-index:300;
	border-radius:3px;
}

.skrollr-desktop #scrollbar {display:none;}

#header {
	width:100%;
	min-width:800px;
	height:60px;
	background-color:#bb0826;
	background-image:url(../images/bannerBG.png);
	background-repeat:repeat-x;
	color:#fff;
	z-index:9999;
}

#navLeft {
	float:left;
	margin-top:18px;
	width:28%;
	min-width:280px;
}
#navLeft img {
	width:25px;
	height:auto;
	vertical-align:middle;
	border:0;
	border-style:hidden;
	padding-left:15px;
	padding-right:10px;
}

#navRight {
	float:right;
	text-align:right;
	margin-top:18px;
}
#navRight span {
	display:inline-block;
	padding:0px;
	padding-right:15px;
	font:Georgia, "Times New Roman", Times, serif;
	font-size:.6em;
}
#navRight img {
	width:25px;
	height:auto;
	vertical-align:middle;
	border:0;
	border-style:hidden;
	padding-right:15px;
}

#navLeft span {
	margin:0 2%;
	font:Georgia, "Times New Roman", Times, serif;
	font-size:.6em;
}

#headerLogo {
	width:30%;
	min-width:150px;
	max-width:380px;
	height:80px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	vertical-align:middle;
	
}
#headerLogo img {
	width:100%;
	height:auto;
}

#proamLogo {
	width: 100%;
	height: 100%;
	background-size:100%;
	background-image:url(../images/proam_logo_monday.png);
	background-repeat:no-repeat;
}
	

#intro {
	width:100%;
	height:100%;
	left:50%;
	margin-left:-50%;
	background:url(../images/bkgd-intro.jpg) no-repeat center;
	background-size:100%;
	background-size:cover;
	text-align:center;

	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#intro-initial {
	background:url(../images/swing1.jpg) no-repeat center;
	background-size:100%;
	background-size:cover;
	 
	text-align:center;

	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#intro-ready {
	background:url(../images/swing2.jpg) no-repeat center;
	background-size:100%;
	background-size:cover;
	 
	text-align:center;

	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#intro-set {
	background:url(../images/swing3.jpg) no-repeat center;
	background-size:100%;
	background-size:cover;
	 
	text-align:center;

	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#intro-swing {
	background:url(../images/swing4.jpg) no-repeat center;
	background-size:100%;
	background-size:cover;
	 
	text-align:center;

	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#intro #glaze {
	width:480px;
	height:100%;
	background-color:#eee;
	opacity:.8;
	border:3px solid #fff;
	margin:0 auto;
	text-align:center;
}

#holes-title {
	width:100%;
	height:100px;
	background-color:#090;
	color:#fff;
	margin-top:-100px;
	padding-left:15px;
}
#holes {
	width: 4030px; /* 18*(200+15) */
	margin-left: 0%;
	padding-left:50px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 150%;
	background-color: #000;
	text-align: left;
}
#holes img {
	margin-right:15px;
	width:200px;
	height:326px;
	float:left;
	opacity:.6;
	cursor: pointer; cursor: hand;
}
#holes img:hover {
	opacity:1;
}

#ready, #set, #swing, #true {
	left:50%;
	margin-left:-50%;
	width: 100%;
	height: 100%;
	background-size:100%;
	padding-top: 10%;
	padding-left:30px;
	text-align: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#ready {
	background:url(../images/bkgd-ready.jpg) no-repeat center;
}
#set {
	background:url(../images/bkgd-set.jpg) no-repeat center;
}
#swing {
	background:url(../images/bkgd-swing.jpg) no-repeat top;
}
#true {
	background:url(../images/bkgd-true.jpg) no-repeat bottom;
}
#ready h2, #set h2, #swing h2, #true h2 {
	font-weight:normal;
	display:block;
	width:100%;
	white-space: nowrap;
}
#ready h3, #set h3, #swing h3, #true h3 {
	font-weight:normal;
	width:80%;
	min-width:600px;
	max-width:1200px;
}
#ready p, #set p, #swing p, #true p {
	font-weight:normal;
	width:80%;
	min-width:600px;
	max-width:1200px;
}

.infobox {
	background-color: #000;
	color:#fff;
	padding: 15px 15px 1000px 15px;
	
	width:50%;
	min-width:300px;
	max-width:600px;
	overflow:auto;
}
.infobox h4 {
	font-family: arial, sans-serif;
	font-size: .8em;
	line-height: 1.3em;
	font-weight:bold;
}
.infobox p {
	font-family: arial, sans-serif;
	font-size: .6em;
	line-height: 1.3em;
}
.infobox a {
	font-family: arial, sans-serif;
	font-size: 1em;
	line-height: 1.3em;
	color:#ff0;
}
.infobox a:hover {
	text-decoration:none;
}
	

#easing_wrapper {
	width:100%;
	height:100%;
}

#easing {
	top:10%;
	width:50%;
	z-index:101;
}

.drop {
	background:#09f;
	font-weight:bold;
	padding:1em;
}

#download {
	width:80%;
	left:10%;
	height:80%;
	padding:3em;
	border:0 solid #222;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.twitter-share-button, .twitter-follow-button {
	vertical-align:middle;
}


