@charset  "UTF-8";

body {
    margin: 0;
    min-width: 360px;
    padding: 0;
}
ul {
    margin-left: 0;
}
li {
    font-size: 2em;
    line-height: 1.4em;
}
p {
    color: #fff;
    font-family: Verdana,Geneva,sans-serif;
    font-size: .6em;
    margin: 20px;
}
.main-container {
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    padding-bottom: 1em;
    position: relative;
    text-align: center;
    top: 0;
}
.imgBlock {
    background-size: 100% 100%;
    border: 1px solid #e0e3e2;
    color: #FFF;
    height: 0;
    margin-top: 2px;
    overflow: hidden;
    padding-bottom: 63.125%;
    padding-right: 20px;
    position: relative;
    text-align: left;
}
h2 {
    color: #fff;
    float: none;
    font-family: 'Archer SSm A','Archer SSm B';
    font-size: 120%;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    margin: 20px;
}
#chapter1 {
    background-image: url(../images/mobile-swing4.jpg);
}
#chapter2 {
    background-image: url(../images/mobile-ready.jpg);
}
#chapter3 {
    background-image: url(../images/mobile-set.jpg);
}
#chapter3reminders {
    background-color: #bb0826;
    color: #fff;
    height: auto;
}
#chapter4 {
    background-image: url(../images/mobile-swing.jpg);
    background-image: url(../images/mobile-true.jpg);
}
#cta1 {
    background-color: #fff;
    height: auto;
    margin: 2em 0 0;
    padding-bottom: 3%;
}
#cta1 h2 {
    color: #44464a;
    font-family: "myriad-pro",sans-serif;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 1em;
    text-transform: uppercase;
}
.ctaStrong {
    color: #bb0826;
    font-family: 'Archer SSm A','Archer SSm B';
    font-size: 90%;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
}
.videoTitle {
    font-family: "myriad-pro",sans-serif;
    font-size: 1em;
    font-weight: 700;
    line-height: 100%;
    margin: 2% 0;
    padding: 0;
    text-align: left;
    white-space: nowrap;
}
#videoTitile_caroline {
    color: #bb0826;
}
#videoTitile_robert {
    color: #ce4c00;
}
#videoTitile_monique {
    color: #00698c;
}
#videoTitile_victor {
    color: #702f8a;
}
#carolineTop {
    background-color: #bb0826;
    height: 10px;
    margin-bottom: -2px;
    margin-top: 2em;
    width: 100%;
}
#robertTop {
    background-color: #ce4c00;
    height: 10px;
    margin-bottom: -2px;
    margin-top: 2em;
    width: 100%;
}
#moniqueTop {
    background-color: #00698c;
    height: 10px;
    margin-bottom: -2px;
    margin-top: 2em;
    width: 100%;
}
#victorTop {
    background-color: #702f8a;
    height: 10px;
    margin-bottom: -2px;
    margin-top: 2em;
    width: 100%;
}
#carolineFooter {
    background-color: #bb0826;
    height: 5px;
    width: 100%;
}
#robertFooter {
    background-color: #ce4c00;
    height: 5px;
    width: 100%;
}
#moniqueFooter {
    background-color: #00698c;
    height: 5px;
    width: 100%;
}
#victorFooter {
    background-color: #702f8a;
    height: 5px;
    width: 100%;
}
.ctaContainer {
    margin: 2em auto;
    text-align: center;
}
.cta {
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#ec1c2a),color-stop(1,#ae1e23));
    background: -moz-linear-gradient(center top,#ec1c2a 5%,#ae1e23 100%);
    background-color: #ec1c2a;
    border: 1px solid #d02718;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: #fff;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ec1c2a',endColorstr='#ae1e23');
    font-family: 'Archer SSm A','Archer SSm B';
    font-size: 2.5em;
    font-style: normal;
    font-weight: 500;
    padding: .3em .5em;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    width: 7em;
}
.cta:hover {
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#ae1e23),color-stop(1,#ec1c2a));
    background: -moz-linear-gradient(center top,#ae1e23 5%,#ec1c2a 100%);
    background-color: #ae1e23;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ae1e23',endColorstr='#ec1c2a');
}
.cta:active {
    position: relative;
    top: 1px;
}
#footer {
    background-color: #fff;
    color: #000;
    font-family: Verdana,Geneva,sans-serif;
    font-size: .8em;
    padding: 10px;
    position: relative;
    text-align: left;
    width: 90%;
}
#footer p {
    margin-bottom: 8px;
}
#footer td {
    text-align: left;
    vertical-align: text-top;
}
.disclosure {
    background-color: #999;
    color: #44464a;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 1em;
    padding: .5em 0;
    text-align: center;
    width: 100%;
}
.bold {
    font-family: "myriad-pro",sans-serif;
    font-size: 120%;
    font-weight: 700;
    line-height: 90%;
    text-transform: uppercase;
}
#video1 {
    bottom: 0;
}
.socialIcons {
    margin: 0 0 20px 20px;
}
.socialButton {
    height: 66px;
    padding-right: 10px;
    width: auto;
}
